<form action="/" method="post">
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="usr" placeholder="Username" type="text"/>
    </div>
    <div class="form-group">
        <input class="form-control" name="pass" placeholder="Password" type="password"/>
    </div>
    <button class="btn btn-primary" type="submit">Log In</button>
</form>
